.question-section-holder {
  width: 100%;
  overflow-y: scroll;
  margin-right: 1em;
}

.questions-section-holder::-webkit-scrollbar-thumb {
  background-color: var(--color-semi-black) !important;
}

.questions-section-holder::-webkit-scrollbar {
  width: 0.15em;
}

.question-holder {
  margin: 1em 2em 1em 2em;
  font-size: 1.25em;
  font-family: "IBM Plex Sans", sans-serif !important;
}