#footer {
    padding-top: 5vh;
    width: 100%;
    height: 35vh;
    border-top: 1px solid black;
}

.equal-divider {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
}

.col {
    display: flex;
    flex-direction: column;
}

.equal-divider:first-child {
    font-size: x-large;
}

.discord-btn {
    background: #5865F2;
}

.btn {
    cursor: pointer;
    padding: .5em .65em;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    transition: all .5s;
}

.btn span {
    padding-left: .5em;
    font-size: medium;
    text-align: center;
}

#footer .discord-btn:hover,
#footer .discord-btn:focus {
    filter: brightness(1.05);
    box-shadow: 0px 0px 0px 2px #000;
    color: black;
}

.github-btn {
    background: #000;
}


#footer .github-btn:hover,
#footer .github-btn:focus {
    filter: brightness(1.05);
    box-shadow: 0px 0px 0px 2px #000;
    color: black;
    background: #fff;
}

.locations h3 {
    margin-bottom: 0 !important;
}

.locations a {
    cursor: pointer;
    margin-top: .75em;
    font-size: large;
}

.copyright-notice {
    text-align: center;
    padding: 1em 0;
    border-top: 1px solid rgba(0, 0, 0, 0.399);
}

.copyright-notice a {
    cursor: pointer;
}

@media (max-width: 738px) {
    #footer {
        height: auto !important;
    }

    .equal-divider {
        width: auto !important;
        flex-direction: column;
        margin-left: 10vw;
        margin-bottom: 10vw;
    }

    .btn {
        width: fit-content !important;
    }
}